<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!-- uncomment this part to redirect to a specific folder or file
    <rewrite>
      <rules>
        <rule name="Index Request" enabled="true" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/docs" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    -->
    <staticContent>
      <!-- remove first in case they are defined in IIS already, which would cause a runtime error -->
      <remove fileExtension=".yml" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".yml" mimeType="text/yaml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/woff2" />
    </staticContent>
  </system.webServer>
</configuration>